{% extends 'base.html.twig' %}

{% block title %}Détail - {{ wish.title }}{% endblock %}

{% block body %}
    <h1>{{ wish.title }}</h1>
    <p>{{ wish.description }}</p>
    <p><strong>Auteur :</strong> {{ wish.author }}</p>
    <p><strong>Date de création :</strong> {{ wish.dateCreated|date('d/m/Y H:i') }}</p>
{% endblock %}
